# Auto detect text files and perform LF normalization
* text=auto

# C-Sharp
*.cs      text
*.sln     text
*.csproj  text
*.msbuild text

# Web
*.php     text
*.htm     text
*.css     text
*.js      text

# General
*.sql     text
*.bat     text
*.sh      text
*.txt     text
*.conf    text
*.md      text

# Bin
*.dat     binary
*.ico     binary
*.png     binary
*.jpg     binary
*.dll     binary

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain
