html,
body {
	height: 100%;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	background: url('body.jpg');
	background-size: cover;
}

#main {
	width: 390px;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
}

input {
	outline: none;
}

input[type=text],
input[type=password] {
	border-radius: 50px;
	width: 350px;
	font-size: 20px;
	padding: 10px 20px;
	border: 0;
	text-indent: 30px;
}

input[type=submit] {
	border-radius: 50px;
	width: 150px;
	font-size: 20px;
	padding: 10px 20px;
	border: 0;
	background: #ddd;
	cursor: pointer;
}

form > div {
	margin-bottom: 15px;
	position: relative;
}

form > div > i.fa {
	font-size: 26px;
	position: absolute;
	top: 0;
	left: 18px;
	line-height: 43px;
	color: #ccc;
}

#notice {
	margin: 30px 0;
	color: #fff;
	text-shadow: 0 0 8px #000, 0 0 5px #fff;
}
